extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Profile Information
  form(action='/account/profile', method='POST', onsubmit='handleFormSubmission(event)')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') Email
      .col-md-7
        input.form-control(type='email', name='email', id='email', value=user.email, autocomplete='email', required)
      .offset-sm-3.col-md-7.pl-3.mb-2
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='company') Company
      .col-md-7
        input.form-control(type='company', name='company', id='company', value=user.stats.company, autocomplete='company', required)
      .offset-sm-3.col-md-7.pl-3.mb-2
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='position') Position
      .col-md-7
        input.form-control(type='position', name='position', id='position', value=user.stats.position, autocomplete='position', required)
      .offset-sm-3.col-md-7.pl-3.mb-2
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='salary') Salary (USD)
      .col-md-7
        input.form-control(type='salary', name='salary', id='salary', value=user.stats.salary, autocomplete='salary', required, pattern='^[+]?[0-9,]+$')
      .offset-sm-3.col-md-7.pl-3.mb-2
      label.col-md-3.col-form-label.font-weight-bold.text-right Gender
      .col-sm-6.mt-2
        select.form-control(type='gender', name='gender', id='gender', autocomplete='gender', required)
          option(value='male', selected=user.stats.gender === 'male') Male
          option(value='female', selected=user.stats.gender === 'female') Female
          option(value='non-binary', selected=user.stats.gender === 'non-binary') Non-binary
          option(value='other', selected=user.stats.gender === 'other') Other 
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right
      .col-sm-4.mb-2
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn.btn-primary(type='submit')
          i.fas.fa-pencil-alt.fa-sm.iconpadding
          | Update Profile
  script.
    function handleFormSubmission(event) {
      event.preventDefault();

      const companyInput = document.getElementById('company');
      companyInput.value = _.startCase(companyInput.value.toLowerCase());

      const positionInput = document.getElementById('position');
      positionInput.value = _.startCase(positionInput.value.toLowerCase());

      const salaryInput = document.getElementById('salary');
      const cleanedSalary = salaryInput.value.replace(/,/g, '');
      salaryInput.value = cleanedSalary;
      event.target.submit();
    }

  .pb-2.mt-2.mb-4.border-bottom
    h3 Change Password

  form(action='/account/password', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='password') New Password
      .col-md-7.mb-2
        input.form-control(type='password', name='password', id='password', autocomplete='new-password', minlength='8', required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='confirmPassword') Confirm Password
      .col-md-7.mb-2
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', autocomplete='new-password', minlength='8', required)
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn-primary(type='submit')
          i.fas.fa-lock.fa-sm.iconpadding
          | Change Password

  .pb-2.mt-2.mb-4.border-bottom
    h3 Delete Account

  form(action='/account/delete', method='POST', onsubmit="return confirm('Are you sure you want to delete your account?');")
    .form-group
      p.offset-sm-3.col-md-7.pl-2 You can delete your account, but keep in mind this action is irreversible.
      input(type='hidden', name='_csrf', value=_csrf)
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn-danger(type='submit')
          i.fas.fa-trash-alt.fa-sm.iconpadding
          | Delete my account

  .pb-2.mt-2.mb-4.border-bottom